
<div class="navigation">
    <nav>
        <ul>
            <li><a href="/">HomePage</a></li>
            <li><a href="/shop">Shop</a></li>
            <li style="float:right"><a class="active" href="/about">About the Creator</a></li>
            <li><a href="/f">404</a></li>
        </ul>
    </nav>
</div>