<!DOCTYPE html>
<html lang="en">
    <%- include(`${partialPath}/partials/head.ejs`)%>

<body>    
    <%- include(`${partialPath}/partials/nav.ejs`)%>

    <h4>
        We're so sorry, but the link you're searching for is not available. Please use the NavBar. 
    </h4>
</body>
</html>