<!DOCTYPE html>
<html lang="en">
    <%- include(`${partialPath}/partials/head.ejs`)%>
    
<body>
    <%- include(`${partialPath}/partials/nav.ejs`)%>
    
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio repellat id, similique, nam hic expedita reiciendis nostrum molestiae animi facere rem quia. Atque praesentium deleniti, fugiat corporis exercitationem nostrum nulla quibusdam possimus dolorem animi at voluptatibus rerum saepe omnis, reiciendis tempora deserunt accusamus amet accusantium voluptas expedita in sapiente. Ullam.</p>
</body>
</html>