<!DOCTYPE html>
<html lang="en">
    <%- include(`${partialPath}/partials/head.ejs`)%>

<body>
    <%- include(`${partialPath}/partials/nav.ejs`) %>
    <div class="search-image">
        <input type="text" class="search" placeholder="Search Any of Our Items!">
        <img id="header-image" src="images/header2.jpeg %>">
    </div>
</body>
</html>
